version: '3.8'
services:

  ##### DB #####

  db-mysql:
    build:
      context: ./server/db
      dockerfile: Dockerfile
    container_name: db-lazone
    ports:
      - "3306:3306"
    expose:
      - '3306'
    volumes:
      - db:/var/lib/mysql
      - "./server/db/schema.sql:/docker-entrypoint-initdb.d/init.sql"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  ##### SERVER #####

  server:
    depends_on:
      db-mysql:
        condition: service_healthy
    env_file:
      - server/.env
    container_name: server
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  ##### CLIENT #####

  # client_mobile:
  #   container_name: client_mobile
  #   build:
  #     context: ./flutter_application
  #     dockerfile: Dockerfilemobile
  #   volumes:
  #     - client:/areapp/

  client_web:
    container_name: client_web
    build:
      context: ./flutter_application
      dockerfile: Dockerfileweb
    ports:
      - "8081:8081"
    depends_on:
      - server
      #- client_mobile
    volumes:
      - client:/areapp/

volumes:
  client:
    driver: local
  db:
    driver: local
