version: '3.8'
services:
  server:
    #restart: always
    build: ./server
    ports:
      - "8080:8080"
  client_web:
    #restart: always
    build: ./client_web
    ports:
      - "8081:8081"
    depends_on:
      - server
      - client_mobile
    volumes:
      - client
  client_mobile:
    #restart: always
    build: ./client_mobile
    volumes:
      - client
  DB-MySQL:
    image: mysql:5.7
    ports:
      - "3380:3380"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test #need to be store as secret
    volumes:
      - ./mysql:/var/lib/mysql
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

volumes:
  client:
    driver: local
